*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family:'Sora titulo';
    src: url(../font/Sora-Bold.ttf);
}

@font-face {
    font-family:'Sora subtitulo';
    src: url(../font/Sora-SemiBold.ttf);
}

@font-face {
    font-family:'Inter texto';
    src: url(../font/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family:'Inter botones';
    src: url(../font/Inter_24pt-SemiBold.ttf);
}

:root{
    /*COLORES*/
    --blanco-suave: #F7F9FC;
    --negro-suave: #121826;
    --gris-claro: #D6DCE5;
    --gris-oscuro: #4B5563;
    --azul-claro: #8EC5FC;
    --azul-intermedio: #3B82F6;
    --azul-oscuro: #1E3A5F;
    --verde: #34D399;
    --verde-transparente: #34D39980;
    --violeta: #8B5CF6;
    --celeste: #22D3EE;

    /*TIPOGRAFIAS*/
    --titulos: 'Sora titulo', sans-serif;
    --subtitulo: 'Sora subtitulo', sans-serif;
    --texto: 'Inter texto', sans-serif;
    --botones: 'Inter botones', sans-serif;
}

/*ACA esta el header en grid*/
header{
    display: grid;
    background-color:var(--azul-oscuro) ;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--azul-oscuro);
    
}

.son-grid1{
    display: flex;
    justify-content: center;
}

.son-grid2{
    display: flex;
    align-items: center;
    
}

.son-grid2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.items-menu {
    font-family: var(--titulos);
    color: var(--azul-claro);
    padding: 25px 35px;
    text-align: center;
    min-width: 120px;
    white-space: nowrap;
}

.items-menu:hover{
    font-size: 1.10rem;
    color: var(--negro-suave);
    transition: 900ms;
    background-color: var(--verde-transparente);
    
}


.son-grid3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-btn{
    display: none;
}

.boton{
    border-radius: 12px;
    background-color: var(--azul-claro);
    padding: 10px;
    font-family: var(--texto);
    font-weight: 650;
}
.boton a{
    color: var(--negro-suave);
}

.boton:hover{
    padding: 12px;
    transition: 900ms;
    background-color: var(--verde);
}

.boton a:hover{
    font-size: 1rem;
    transition: 900ms;
}

/*responsive*/
@media (max-width: 768px){
    header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;
        background-color: var(--negro-suave);
    }

    .son-grid1,
    .son-grid2,
    .son-grid3{
        justify-content: center;
    }

    .son-grid2{
        flex-direction: column;
        gap: 15px;
    }

    .son-grid2 ul {
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }
.items-menu:hover{
    color: var(--negro-suave);
    background-color: var(--verde-transparente);

    }

    .items-menu{
        white-space: normal;
        padding: 2px 4px;
        gap: 1rem;
    }
    
    #menu-btn{
        display: block;
    }

    #menu{
        display: none;
    }

    #menu.active{
        display: block;
    }
}